@if (host.state(); as s) {
  <aed-modal
    [visible]="host.visible()"
    [title]="s.title"
    [subtitle]="s.body"
    [icon]="alertIcon"
    width="440px"
    [bodyless]="true"
    (cancelled)="host.reject()"
  >
    <div modal-actions class="confirm-host__actions">
      @if (emphasizeReject()) {
        <button type="button" [class]="acceptClass()" (click)="host.accept()">
          {{ s.acceptLabel }}
        </button>
        <button type="button" [class]="rejectClass()" (click)="host.reject()">
          {{ s.rejectLabel }}
        </button>
      } @else {
        <button type="button" [class]="rejectClass()" (click)="host.reject()">
          {{ s.rejectLabel }}
        </button>
        <button type="button" [class]="acceptClass()" (click)="host.accept()">
          {{ s.acceptLabel }}
        </button>
      }
    </div>
  </aed-modal>
}
